*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.mx-20 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.ml-\[120px\] {
  margin-left: 120px;
}

.mt-\[184px\] {
  margin-top: 184px;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-36 {
  margin-top: 9rem;
}

.-mt-10 {
  margin-top: -2.5rem;
}

.-mt-20 {
  margin-top: -5rem;
}

.-mt-16 {
  margin-top: -4rem;
}

.-mt-12 {
  margin-top: -3rem;
}

.ml-20 {
  margin-left: 5rem;
}

.ml-24 {
  margin-left: 6rem;
}

.-ml-4 {
  margin-left: -1rem;
}

.-ml-8 {
  margin-left: -2rem;
}

.-ml-20 {
  margin-left: -5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.-mt-14 {
  margin-top: -3.5rem;
}

.-mt-24 {
  margin-top: -6rem;
}

.-mt-6 {
  margin-top: -1.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.-mt-8 {
  margin-top: -2rem;
}

.ml-16 {
  margin-left: 4rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-32 {
  margin-left: 8rem;
}

.ml-72 {
  margin-left: 18rem;
}

.ml-96 {
  margin-left: 24rem;
}

.ml-\[400px\] {
  margin-left: 400px;
}

.ml-\[600px\] {
  margin-left: 600px;
}

.-mt-40 {
  margin-top: -10rem;
}

.-mt-80 {
  margin-top: -20rem;
}

.-mt-96 {
  margin-top: -24rem;
}

.-mt-\[120px\] {
  margin-top: -120px;
}

.-mt-\[600px\] {
  margin-top: -600px;
}

.-mt-\[400px\] {
  margin-top: -400px;
}

.-mt-\[300px\] {
  margin-top: -300px;
}

.-mt-\[360px\] {
  margin-top: -360px;
}

.-mt-\[380px\] {
  margin-top: -380px;
}

.ml-\[660px\] {
  margin-left: 660px;
}

.mt-60 {
  margin-top: 15rem;
}

.-mt-4 {
  margin-top: -1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.ml-40 {
  margin-left: 10rem;
}

.ml-52 {
  margin-left: 13rem;
}

.ml-56 {
  margin-left: 14rem;
}

.-mt-\[500px\] {
  margin-top: -500px;
}

.-mt-2 {
  margin-top: -0.5rem;
}

.mt-28 {
  margin-top: 7rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-32 {
  margin-top: 8rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-\[580px\] {
  margin-left: 580px;
}

.ml-\[550px\] {
  margin-left: 550px;
}

.-mb-4 {
  margin-bottom: -1rem;
}

.-mb-8 {
  margin-bottom: -2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.-ml-px {
  margin-left: -1px;
}

.mr-8 {
  margin-right: 2rem;
}

.-ml-6 {
  margin-left: -1.5rem;
}

.-mt-\[450px\] {
  margin-top: -450px;
}

.ml-48 {
  margin-left: 12rem;
}

.-mt-72 {
  margin-top: -18rem;
}

.-mt-60 {
  margin-top: -15rem;
}

.-mt-28 {
  margin-top: -7rem;
}

.-mt-32 {
  margin-top: -8rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.-mt-36 {
  margin-top: -9rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mr-\[550px\] {
  margin-right: 550px;
}

.mr-\[850px\] {
  margin-right: 850px;
}

.mr-\[450px\] {
  margin-right: 450px;
}

.mr-\[350px\] {
  margin-right: 350px;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-\[330\] {
  margin-left: 330;
}

.ml-\[200px\] {
  margin-left: 200px;
}

.ml-\[300px\] {
  margin-left: 300px;
}

.ml-\[100px\] {
  margin-left: 100px;
}

.ml-\[90px\] {
  margin-left: 90px;
}

.ml-\[80px\] {
  margin-left: 80px;
}

.ml-\[70px\] {
  margin-left: 70px;
}

.-mt-\[100px\] {
  margin-top: -100px;
}

.-mt-\[800px\] {
  margin-top: -800px;
}

.-mt-\[1000px\] {
  margin-top: -1000px;
}

.-mt-\[1500px\] {
  margin-top: -1500px;
}

.-mt-\[1200px\] {
  margin-top: -1200px;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.-mt-44 {
  margin-top: -11rem;
}

.ml-\[480px\] {
  margin-left: 480px;
}

.ml-\[60px\] {
  margin-left: 60px;
}

.-ml-2 {
  margin-left: -0.5rem;
}

.-mt-\[200px\] {
  margin-top: -200px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.ml-\[6px\] {
  margin-left: 6px;
}

.-mt-\[180px\] {
  margin-top: -180px;
}

.-mt-\[170px\] {
  margin-top: -170px;
}

.-mt-\[150px\] {
  margin-top: -150px;
}

.-mt-\[140px\] {
  margin-top: -140px;
}

.ml-\[8px\] {
  margin-left: 8px;
}

.ml-\[12px\] {
  margin-left: 12px;
}

.ml-\[16px\] {
  margin-left: 16px;
}

.-mt-\[28px\] {
  margin-top: -28px;
}

.ml-28 {
  margin-left: 7rem;
}

.-mt-\[48px\] {
  margin-top: -48px;
}

.-mt-\[60px\] {
  margin-top: -60px;
}

.-mt-\[72px\] {
  margin-top: -72px;
}

.-mt-\[220px\] {
  margin-top: -220px;
}

.-mt-\[80px\] {
  margin-top: -80px;
}

.-mt-\[96px\] {
  margin-top: -96px;
}

.ml-8 {
  margin-left: 2rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[772px\] {
  height: 772px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[36px\] {
  height: 36px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[8px\] {
  height: 8px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[\] {
  height: ;
}

.h-\[691\] {
  height: 691;
}

.h-\[691\.89px\] {
  height: 691.89px;
}

.h-\[64px\] {
  height: 64px;
}

.h-\[124px\] {
  height: 124px;
}

.h-\[345px\] {
  height: 345px;
}

.h-\[354px\] {
  height: 354px;
}

.h-\[631px\] {
  height: 631px;
}

.h-\[531px\] {
  height: 531px;
}

.h-\[486px\] {
  height: 486px;
}

.h-\[386px\] {
  height: 386px;
}

.h-\[286px\] {
  height: 286px;
}

.h-\[316px\] {
  height: 316px;
}

.h-\[326px\] {
  height: 326px;
}

.h-\[320px\] {
  height: 320px;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[14\.22px\] {
  height: 14.22px;
}

.h-\[14\.25px\] {
  height: 14.25px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[280px\] {
  height: 280px;
}

.h-\[290px\] {
  height: 290px;
}

.h-\[285px\] {
  height: 285px;
}

.h-\[295px\] {
  height: 295px;
}

.h-\[360px\] {
  height: 360px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[248px\] {
  height: 248px;
}

.h-\[82\] {
  height: 82;
}

.h-\[82px\] {
  height: 82px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[792px\] {
  height: 792px;
}

.h-\[822px\] {
  height: 822px;
}

.h-\[12px\] {
  height: 12px;
}

.h-\[444px\] {
  height: 444px;
}

.h-\[480px\] {
  height: 480px;
}

.h-\[230px\] {
  height: 230px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[260px\] {
  height: 260px;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[16px\] {
  height: 16px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[622px\] {
  height: 622px;
}

.h-\[522px\] {
  height: 522px;
}

.h-\[140px\] {
  height: 140px;
}

.h-\[130px\] {
  height: 130px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[700px\] {
  height: 700px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[5310px\] {
  height: 5310px;
}

.h-\[348\] {
  height: 348;
}

.h-40 {
  height: 10rem;
}

.h-52 {
  height: 13rem;
}

.h-60 {
  height: 15rem;
}

.w-\[125px\] {
  width: 125px;
}

.w-\[\] {
  width: ;
}

.w-\[716px\] {
  width: 716px;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[616px\] {
  width: 616px;
}

.w-\[36px\] {
  width: 36px;
}

.w-\[72px\] {
  width: 72px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[96px\] {
  width: 96px;
}

.w-\[80vw\] {
  width: 80vw;
}

.w-\[60vw\] {
  width: 60vw;
}

.w-\[72vw\] {
  width: 72vw;
}

.w-20 {
  width: 5rem;
}

.w-32 {
  width: 8rem;
}

.w-\[127px\] {
  width: 127px;
}

.w-\[96vw\] {
  width: 96vw;
}

.w-\[100vw\] {
  width: 100vw;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[512px\] {
  width: 512px;
}

.w-\[94px\] {
  width: 94px;
}

.w-\[174px\] {
  width: 174px;
}

.w-\[206px\] {
  width: 206px;
}

.w-\[142px\] {
  width: 142px;
}

.w-\[1200px\] {
  width: 1200px;
}

.w-\[354px\] {
  width: 354px;
}

.w-\[324px\] {
  width: 324px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[583px\] {
  width: 583px;
}

.w-\[683px\] {
  width: 683px;
}

.w-\[643px\] {
  width: 643px;
}

.w-\[640px\] {
  width: 640px;
}

.w-\[64px\] {
  width: 64px;
}

.w-\[992px\] {
  width: 992px;
}

.w-\[610px\] {
  width: 610px;
}

.w-\[892px\] {
  width: 892px;
}

.w-\[802px\] {
  width: 802px;
}

.w-\[12px\] {
  width: 12px;
}

.w-\[360px\] {
  width: 360px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[420px\] {
  width: 420px;
}

.w-\[620px\] {
  width: 620px;
}

.w-\[340px\] {
  width: 340px;
}

.w-\[600px\] {
  width: 600px;
}

.w-\[570px\] {
  width: 570px;
}

.w-\[580px\] {
  width: 580px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[8px\] {
  width: 8px;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[230\] {
  width: 230;
}

.w-\[230px\] {
  width: 230px;
}

.w-\[440px\] {
  width: 440px;
}

.w-\[370px\] {
  width: 370px;
}

.w-\[365px\] {
  width: 365px;
}

.w-\[330px\] {
  width: 330px;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[42px\] {
  gap: 42px;
}

.gap-\[100px\] {
  gap: 100px;
}

.gap-\[200px\] {
  gap: 200px;
}

.gap-\[250px\] {
  gap: 250px;
}

.gap-\[270px\] {
  gap: 270px;
}

.gap-\[280px\] {
  gap: 280px;
}

.gap-\[179px\] {
  gap: 179px;
}

.gap-\[309px\] {
  gap: 309px;
}

.gap-\[509px\] {
  gap: 509px;
}

.gap-\[809px\] {
  gap: 809px;
}

.gap-\[909px\] {
  gap: 909px;
}

.gap-\[880px\] {
  gap: 880px;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[850px\] {
  gap: 850px;
}

.gap-\[750px\] {
  gap: 750px;
}

.gap-\[790px\] {
  gap: 790px;
}

.gap-\[800px\] {
  gap: 800px;
}

.gap-\[830px\] {
  gap: 830px;
}

.gap-\[840px\] {
  gap: 840px;
}

.gap-\[700px\] {
  gap: 700px;
}

.gap-\[780px\] {
  gap: 780px;
}

.gap-\[760px\] {
  gap: 760px;
}

.gap-\[740px\] {
  gap: 740px;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-\[660px\] {
  gap: 660px;
}

.gap-\[160px\] {
  gap: 160px;
}

.gap-\[130px\] {
  gap: 130px;
}

.gap-\[140px\] {
  gap: 140px;
}

.gap-\[135px\] {
  gap: 135px;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-\[32px\] {
  gap: 32px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[8px\] {
  gap: 8px;
}

.gap-\[6px\] {
  gap: 6px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[28px\] {
  gap: 28px;
}

.gap-\[52px\] {
  gap: 52px;
}

.gap-\[72px\] {
  gap: 72px;
}

.gap-\[80px\] {
  gap: 80px;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-16 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(4rem * var(--tw-space-x-reverse));
  margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-20 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(5rem * var(--tw-space-x-reverse));
  margin-left: calc(5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-24 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(6rem * var(--tw-space-x-reverse));
  margin-left: calc(6rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-36 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(9rem * var(--tw-space-x-reverse));
  margin-left: calc(9rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-44 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(11rem * var(--tw-space-x-reverse));
  margin-left: calc(11rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-28 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(7rem * var(--tw-space-x-reverse));
  margin-left: calc(7rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-32 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(8rem * var(--tw-space-x-reverse));
  margin-left: calc(8rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-40 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(10rem * var(--tw-space-x-reverse));
  margin-left: calc(10rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-48 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(12rem * var(--tw-space-x-reverse));
  margin-left: calc(12rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(3rem * var(--tw-space-x-reverse));
  margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-52 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(13rem * var(--tw-space-x-reverse));
  margin-left: calc(13rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-60 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(15rem * var(--tw-space-x-reverse));
  margin-left: calc(15rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-72 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(18rem * var(--tw-space-x-reverse));
  margin-left: calc(18rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-80 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(20rem * var(--tw-space-x-reverse));
  margin-left: calc(20rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-56 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(14rem * var(--tw-space-x-reverse));
  margin-left: calc(14rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-96 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(24rem * var(--tw-space-x-reverse));
  margin-left: calc(24rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0px * var(--tw-space-x-reverse));
  margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.bg-\[\#1B00EA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(27 0 234 / var(--tw-bg-opacity));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-24 {
  padding: 6rem;
}

.p-16 {
  padding: 4rem;
}

.p-12 {
  padding: 3rem;
}

.p-20 {
  padding: 5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-10 {
  padding: 2.5rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px;
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-\[12px\] {
  padding-left: 12px;
  padding-right: 12px;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-\[178px\] {
  padding-top: 178px;
}

.pt-\[184px\] {
  padding-top: 184px;
}

.pl-\[120px\] {
  padding-left: 120px;
}

.pl-20 {
  padding-left: 5rem;
}

.pl-24 {
  padding-left: 6rem;
}

.pt-\[124px\] {
  padding-top: 124px;
}

.pt-\[114px\] {
  padding-top: 114px;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-16 {
  padding-left: 4rem;
}

.pt-\[134px\] {
  padding-top: 134px;
}

.pl-28 {
  padding-left: 7rem;
}

.pl-36 {
  padding-left: 9rem;
}

.pl-40 {
  padding-left: 10rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pl-\[\] {
  padding-left: ;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pl-\[40px\] {
  padding-left: 40px;
}

.pr-\[40px\] {
  padding-right: 40px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-16 {
  padding-right: 4rem;
}

.pr-20 {
  padding-right: 5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-28 {
  padding-right: 7rem;
}

.pr-36 {
  padding-right: 9rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pt-\[60px\] {
  padding-top: 60px;
}

.pt-\[48px\] {
  padding-top: 48px;
}

.pr-\[20px\] {
  padding-right: 20px;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pl-\[8px\] {
  padding-left: 8px;
}

.pr-\[8px\] {
  padding-right: 8px;
}

.pl-\[12px\] {
  padding-left: 12px;
}

.pl-\[16px\] {
  padding-left: 16px;
}

.pr-\[12px\] {
  padding-right: 12px;
}

.pr-\[16px\] {
  padding-right: 16px;
}

.pb-\[8px\] {
  padding-bottom: 8px;
}

.pb-\[16px\] {
  padding-bottom: 16px;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.font-\[Nohemi\] {
  font-family: Nohemi;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[75px\] {
  font-size: 75px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[60px\] {
  font-size: 60px;
}

.text-\[72px\] {
  font-size: 72px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-\[48px\] {
  font-size: 48px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[64px\] {
  font-size: 64px;
}

.text-\[68px\] {
  font-size: 68px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[44px\] {
  font-size: 44px;
}

.text-\[8px\] {
  font-size: 8px;
}

.text-\[6px\] {
  font-size: 6px;
}

.text-\[36px\] {
  font-size: 36px;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[22px\] {
  font-size: 22px;
}

.font-bold {
  font-weight: 700;
}

.text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

.text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

.text-\[\] {
  color: ;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#1B00EA\] {
  --tw-text-opacity: 1;
  color: rgb(27 0 234 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-\[Nohemi\] {
  color: Nohemi;
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:-mt-16 {
    margin-top: -4rem;
  }

  .lg\:ml-16 {
    margin-left: 4rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-32 {
    margin-top: 8rem;
  }

  .lg\:mt-5 {
    margin-top: 1.25rem;
  }

  .lg\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .lg\:-mt-\[400px\] {
    margin-top: -400px;
  }

  .lg\:ml-\[550px\] {
    margin-left: 550px;
  }

  .lg\:mt-20 {
    margin-top: 5rem;
  }

  .lg\:mt-60 {
    margin-top: 15rem;
  }

  .lg\:mt-6 {
    margin-top: 1.5rem;
  }

  .lg\:mt-4 {
    margin-top: 1rem;
  }

  .lg\:-mt-60 {
    margin-top: -15rem;
  }

  .lg\:ml-48 {
    margin-left: 12rem;
  }

  .lg\:ml-72 {
    margin-left: 18rem;
  }

  .lg\:-mt-2 {
    margin-top: -0.5rem;
  }

  .lg\:-mt-0 {
    margin-top: -0px;
  }

  .lg\:-mt-1 {
    margin-top: -0.25rem;
  }

  .lg\:mt-28 {
    margin-top: 7rem;
  }

  .lg\:mt-12 {
    margin-top: 3rem;
  }

  .lg\:-mt-\[500px\] {
    margin-top: -500px;
  }

  .lg\:-mt-72 {
    margin-top: -18rem;
  }

  .lg\:-mt-96 {
    margin-top: -24rem;
  }

  .lg\:-mt-80 {
    margin-top: -20rem;
  }

  .lg\:ml-60 {
    margin-left: 15rem;
  }

  .lg\:ml-52 {
    margin-left: 13rem;
  }

  .lg\:ml-44 {
    margin-left: 11rem;
  }

  .lg\:ml-40 {
    margin-left: 10rem;
  }

  .lg\:-mt-3 {
    margin-top: -0.75rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[40px\] {
    height: 40px;
  }

  .lg\:h-\[124px\] {
    height: 124px;
  }

  .lg\:h-\[64px\] {
    height: 64px;
  }

  .lg\:h-\[24px\] {
    height: 24px;
  }

  .lg\:h-\[60px\] {
    height: 60px;
  }

  .lg\:h-\[822px\] {
    height: 822px;
  }

  .lg\:h-\[531px\] {
    height: 531px;
  }

  .lg\:h-\[248px\] {
    height: 248px;
  }

  .lg\:h-\[82px\] {
    height: 82px;
  }

  .lg\:h-\[36px\] {
    height: 36px;
  }

  .lg\:h-0 {
    height: 0px;
  }

  .lg\:h-96 {
    height: 24rem;
  }

  .lg\:h-\[600px\] {
    height: 600px;
  }

  .lg\:w-\[142px\] {
    width: 142px;
  }

  .lg\:w-\[127px\] {
    width: 127px;
  }

  .lg\:w-\[1200px\] {
    width: 1200px;
  }

  .lg\:w-\[206px\] {
    width: 206px;
  }

  .lg\:w-\[24px\] {
    width: 24px;
  }

  .lg\:w-\[716px\] {
    width: 716px;
  }

  .lg\:w-\[174px\] {
    width: 174px;
  }

  .lg\:w-\[354px\] {
    width: 354px;
  }

  .lg\:w-\[570px\] {
    width: 570px;
  }

  .lg\:w-\[802px\] {
    width: 802px;
  }

  .lg\:w-\[\] {
    width: ;
  }

  .lg\:w-\[1440px\] {
    width: 1440px;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-\[42px\] {
    gap: 42px;
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:gap-\[135px\] {
    gap: 135px;
  }

  .lg\:gap-\[660px\] {
    gap: 660px;
  }

  .lg\:gap-\[95px\] {
    gap: 95px;
  }

  .lg\:gap-\[65px\] {
    gap: 65px;
  }

  .lg\:gap-\[700px\] {
    gap: 700px;
  }

  .lg\:space-x-32 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(8rem * var(--tw-space-x-reverse));
    margin-left: calc(8rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-20 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(5rem * var(--tw-space-x-reverse));
    margin-left: calc(5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-16 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(4rem * var(--tw-space-x-reverse));
    margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-12 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-60 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(15rem * var(--tw-space-x-reverse));
    margin-left: calc(15rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-56 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(14rem * var(--tw-space-x-reverse));
    margin-left: calc(14rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:p-6 {
    padding: 1.5rem;
  }

  .lg\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .lg\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .lg\:py-\[12px\] {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:pl-8 {
    padding-left: 2rem;
  }

  .lg\:pr-10 {
    padding-right: 2.5rem;
  }

  .lg\:pt-16 {
    padding-top: 4rem;
  }

  .lg\:pl-16 {
    padding-left: 4rem;
  }

  .lg\:pt-\[134px\] {
    padding-top: 134px;
  }

  .lg\:pl-\[40px\] {
    padding-left: 40px;
  }

  .lg\:pr-\[40px\] {
    padding-right: 40px;
  }

  .lg\:pb-\[30px\] {
    padding-bottom: 30px;
  }

  .lg\:pt-\[30px\] {
    padding-top: 30px;
  }

  .lg\:pr-20 {
    padding-right: 5rem;
  }

  .lg\:pl-4 {
    padding-left: 1rem;
  }

  .lg\:pl-0 {
    padding-left: 0px;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[16px\] {
    font-size: 16px;
  }

  .lg\:text-\[60px\] {
    font-size: 60px;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[20px\] {
    font-size: 20px;
  }

  .lg\:text-\[48px\] {
    font-size: 48px;
  }

  .lg\:text-\[32px\] {
    font-size: 32px;
  }

  .lg\:text-\[68px\] {
    font-size: 68px;
  }
}
